.comein{
    transform: translateY(200px);
    -webkit-transition:all 0.26s ease-out;
    -moz-transition:all 0.26s ease-out;
    -ms-transition:all 0.26s ease-out;
    -o-transition:all 0.26s ease-out;
    transition:all 0.26s ease-out;
}

#body.loaded .comein {
    opacity: 1;
}
